<div class="row">
  <h3>Antibiotic Resistance</h3>
</div>
<div class="row">
  <div *ngFor="let sample of arData">
    <h2 class="col-md-12">{{sample["sample"]}}</h2>
    <div *ngFor="let seq of sample['data']" class="row shadow-sm p-3 mb-5 bg-white rounded">
      <ul class="list-group col-md-2">
  	<li class="list-group-item"><div class="bg-primary p-3 mb-2">Coverage</div> {{seq["coverage"] * 100}} %</li>
  	<li class="list-group-item"><div class="bg-primary p-3 mb-2">Per base depth</div> {{seq["avg_depth_per_base"]}}</li>
  	<li class="list-group-item"><div class="bg-primary p-3 mb-2">NCBI Accession ID</div> {{seq["ncbi_accession_id"]}}</li>
      </ul>
      <div *ngFor="let model of seq['card_data']" class="col-md-10">
	<div>
      	  <h3>{{model["ARO_name"]}}</h3>
      	  <p>{{model["ARO_description"]}}</p>
      	  <span *ngFor="let m of model['model_sequences']['sequence'] | keyvalue" class="badge badge-primary">
      	    {{m.value["NCBI_taxonomy"]["NCBI_taxonomy_name"]}}
      	  </span>
      	</div>
      	<span *ngFor="let category of model['ARO_category'] | keyvalue" class="float-left">
      	  <div [ngSwitch]="category.value['category_aro_class_name']">
      	    <span class="badge badge-danger" *ngSwitchCase="'Resistance Mechanism'">{{category.value["category_aro_name"]}}</span>
      	    <span class="badge badge-success" *ngSwitchCase="'Antibiotic'">{{category.value["category_aro_name"]}}</span>
      	    <span class="badge badge-success" *ngSwitchCase="'Drug Class'">{{category.value["category_aro_name"]}}</span>
      	    <span class="badge badge-info" *ngSwitchDefault>{{category.value["category_aro_name"]}}</span>
      	  </div>
      	</span>
      </div>
      <hr>
    </div>
  </div>
</div>

