<div class="row">
    <div class="form-row col-md">
      <div class="form-group col-md-2">
        <label for="minOR">Sample:</label>
        <select [(ngModel)]="selectedSample" class="form-control" (ngModelChange)="realize()">
          <option *ngFor="let c of jsonData.file" [ngValue]="c">{{c}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="minOR">Taxon</label>
        <select [(ngModel)]="selectedTaxon" class="form-control" (ngModelChange)="realize()">
          <option value = "species">species</option>
          <option value = "genus">genus</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="minOR">Read score:</label>
        <select [(ngModel)]="scoreThreshold" class="form-control" (ngModelChange)="realize()">
          <option *ngFor="let c of [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]" [ngValue]="c">{{c}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="minOR">Kmeans clusters:</label>
        <select [(ngModel)]="selectClusters" class="form-control" (ngModelChange)="updateCluster()">
          <option *ngFor="let c of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" [ngValue]="c">{{c}}</option>
        </select>
      </div>
    </div>
</div>

<body>
  <p id="loadingText"> Initializing plots . . .</p>
  <svg #chartWrapper id="chart-wrapper"></svg>
  <div #tooltip id="tooltip"></div>
  <div style="display: inline-block">
  <svg #tsneWrapper id="tsne-wrapper"></svg>
  </div>
  <div style="display: inline-block">
  <table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
  </table>
  </div>
  <svg #SampletsneWrapper id="sample-tsne-wrapper"></svg>



  <!-- <svg id = "analysis_chart"> -->
  <!--   <\!-- <filter id="sofGlow" height="300%" width="300%" x="-75%" y="-75%"> -\-> -->
  <!--   <\!--   <\\!-- Thicken out the original shape -\\-> -\-> -->
  <!--   <\!--   <feMorphology operator="dilate" radius="4" in="SourceAlpha" result="thicken" /> -\-> -->
  <!--   <\!--   <\\!-- Use a gaussian blur to create the soft blurriness of the glow -\\-> -\-> -->
  <!--   <\!--   <feGaussianBlur in="thicken" stdDeviation="10" result="blurred" /> -\-> -->
  <!--   <\!--   <\\!-- Change the colour -\\-> -\-> -->
  <!--   <\!--   <feFlood flood-color="rgb(0,186,255)" result="glowColor" /> -\-> -->
  <!--   <\!--   <\\!-- Color in the glows -\\-> -\-> -->
  <!--   <\!--   <feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" /> -\-> -->
  <!--   <\!--   <\\!--	Layer the effects together -\\-> -\-> -->
  <!--   <\!--   <feMerge> -\-> -->
  <!--   <\!--     <feMergeNode in="softGlow_colored"/> -\-> -->
  <!--   <\!--     <feMergeNode in="SourceGraphic"/> -\-> -->
  <!--   <\!--   </feMerge> -\-> -->
  <!--   <\!-- </filter> -\-> -->
  <!-- </svg> -->
</body>
