<div #tooltip id="tooltip"></div>
<div class="row">
    <div class="form-row col-md">
      <div class="form-group col-md-2">
        <label for="minOR">Sample:</label>
        <select [(ngModel)]="selectedSample" class="form-control" (ngModelChange)="realize()">
          <option *ngFor="let c of jsonData.file" [ngValue]="c">{{c}} </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="minOR">Taxon</label>
        <select [(ngModel)]="selectedTaxon" class="form-control" (ngModelChange)="realize()">
          <option value = "species">species</option>
          <option value = "genus">genus</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="minOR">Read score:</label>
        <select [(ngModel)]="scoreThreshold" class="form-control" (ngModelChange)="realize()">
          <option *ngFor="let c of [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]" [ngValue]="c">{{c}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="minOR">Kmeans clusters:</label>
        <select [(ngModel)]="selectClusters" class="form-control" (ngModelChange)="updateCluster()">
          <option *ngFor="let c of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" [ngValue]="c">{{c}}</option>
        </select>
      </div>
      <div class="form-group col-md-1">
        <label for="minOR"> &nbsp;</label>
        <button type="button" class="btn btn-secondary" (click)="downloadCSV()">Export to csv</button>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
<svg #chartWrapper id="chart-wrapper" class="svg-chart"></svg>
</div>
<div class="col-md-6">
<table class="table table-bordered" *ngIf="jsonData['file']!=undefined">
  <thead class="thead-dark">
  <tr>
    <th scope="col"></th>
    <th scope="col">Estimate</th>
    <th scope="col">2.5%</th>
    <th scope="col">97.5%</th>
  </tr>
</thead>
  <tr *ngFor=" let value of contaminantService.getConfInt(); let ind = index">
    <th *ngIf="ind==0">Slope</th>
    <th *ngIf="ind==1">Intercept</th>
    <!-- <td *ngFor=" let name of contaminantService.getConfLabels()">{{name}}</td> -->
    <td *ngFor=" let c of value">{{c}}</td>
  </tr>
</table>
</div>
</div>

<div class="row">
  <div class="col-md-6">
<svg #umapWrapper id="umap-wrapper" class="svg-chart"></svg>
</div>
<div class="col-md-6">
<table class="table table-sm" *ngIf="jsonData['file']!=undefined">
<thead>
  <tr class="table-sm">
    <th>Kmeans</th>
    <th *ngFor=" let cluster of contaminantService.getClusterCounts()" [style.background-color]="cluster.color">Cluster {{cluster.cluster+1}}</th>
  </tr>
</thead>
  <tr>
    <td>Significant taxa</td>
    <td *ngFor=" let cluster of contaminantService.getClusterCounts()">{{cluster.significant}}</td>
  </tr>
  <tr>
    <td>Contaminant taxa</td>
    <td *ngFor=" let cluster of contaminantService.getClusterCounts()">{{cluster.contaminant}}</td>
  </tr>
  <tr>
    <td>Background taxa</td>
    <td *ngFor=" let cluster of contaminantService.getClusterCounts()">{{cluster.background}}</td>
  </tr>
  <tr>
    <td>Average Ctrl %</td>
    <td *ngFor=" let cluster of contaminantService.getClusterCounts()" [style.color]="contaminantService.getHeatMapTextColor(cluster.avg_ctrl_percentage+1)" [style.background-color]="contaminantService.getHeatMapColor(cluster.avg_ctrl_percentage+1)">{{cluster.avg_ctrl_percentage | number: '2.2-3'}}</td>
  </tr>
  <!-- Cluster -->
  <tr *ngFor=" let file of jsonData['file']; let ndx = index">
    <td>{{file}} %</td>
    <td *ngFor=" let cluster of contaminantService.getClusterCounts()" [style.color]="contaminantService.getHeatMapTextColor(cluster.avg_sample_percentage[ndx]+1)" [style.background-color]="contaminantService.getHeatMapColor(cluster.avg_sample_percentage[ndx]+1)">{{cluster.avg_sample_percent_string[ndx]}}</td>
  </tr>
</table>
</div>
</div>

<div class="row">
  <div class="col">
<svg #SampleumapWrapper id="sample-umap-wrapper" class="svg-chart"></svg>
</div>
</div>
