#tooltip{
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}

.svg-chart{
    float:left;
}

.chart-table{
    float:left;
}
