<div class="row">
  <div class="col-md-8">
    <canvas #wrapper id="wrapper" (click)="onCanvasClick($event)" (mousemove)="onCanvasHover($event)">
    </canvas>
  </div>
  <div class="col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
	<li *ngFor="let t of pathToRoot" (click)="drawCanvas(t.tax_id)" class="breadcrumb-item"><a href="#" onclick="return false;">{{t.taxon_name}}</a></li>
      </ol>
    </nav>
    <form>
      <div class="form-row">
	<div class="form-group col-md-4">
	  <label for="minReads">Minimum read count</label>
	  <input type="text" class="form-control" id="minReads" placeholder="Minimum number of reads" [(ngModel)]="minReads" name="minReads">
	</div>
	<div class="form-group col-md-4">
	  <label for="minOR">Minimum odds ratio</label>
	  <input type="text" class="form-control" id="minOR" placeholder="Minimum odds ratio" [(ngModel)]="minOddsRatio" name="minOR">
	</div>
	<div class="form-group col-md-4">
	  <label for="sigLevel">Significance Level</label>
	  <input type="text" class="form-control" id="sigLevel" placeholder="Significance Level" [(ngModel)]="sigLevel" name="sigLevel">
	</div>
  <!-- <div class="form-group col-md-4">
    <label for="minReads">Minimum Kmer Score</label>
    <select [(ngModel)]="kmerThreshold" (ngModelChange)="drawCanvas(taxonomyTree.tax_id)">
      <option *ngFor="let c of [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]" [ngValue]="c">{{c}}</option>
    </select>
  </div> -->
      </div>
      <div class="form-row">
	<div class="col-md-1.5">
    <label for="minOR"> </label>
	  <button class="btn btn-primary mb-2" (click)="drawCanvas(taxonomyTree.tax_id)">Filter</button>
	</div>
	<div class="col-md-4">
    <label for="minOR"> </label>
	  <button class="btn btn-primary mb-2" (click)="showPathogenic()">Show Pathogenic</button>
	</div>
  <div class="form-group col-md-3.5">
    <label for="minOR">Minimum read score: </label>
  </div>
  <div class="form-group col-md-2">
  <select [(ngModel)]="scoreThreshold" name= "scoreselect" class="form-control" (ngModelChange)="drawCanvas(taxonomyTree.tax_id)">
    <option *ngFor="let c of [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]" [ngValue]="c">{{c}}</option>
  </select>
  </div>
      </div>
      <div class="form-row">
	<div class="col-md-4">
          <input type="text" class="form-control" id="searchterm" placeholder="Search" [(ngModel)]="searchterm" name="searchbox">
	</div>
	<div class="col-md-2">
          <button class="btn btn-primary mb-2" (click)="showSearch()">Search</button>
	</div>
	<div class="col-md-6">
          <input type='checkbox' id="pathogenic"  name="pathogenic" [(ngModel)]="pathogenic"> Only Search Pathogenic
	</div>
      </div>
    </form>
    <h3><span class="badge badge-light">{{currentNode.taxon_name}}</span></h3>
    <app-pass-threshold-table [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode"></app-pass-threshold-table>
    <app-node-pathogenic-table [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode"></app-node-pathogenic-table>
    <app-node-bar-chart [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode" key="percentage"></app-node-bar-chart>
    <app-node-bar-chart [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode" key="taxon_reads"></app-node-bar-chart>
    <app-score-distribution-chart [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode" key="forward_score_distribution"></app-score-distribution-chart>
    <app-score-distribution-chart [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode" key="reverse_score_distribution"></app-score-distribution-chart>
    <app-node-bar-chart [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode" key="kmer_coverage"></app-node-bar-chart>
    <app-node-bar-chart [screenHeight]="screenHeight" [screenWidth]="screenWidth" [nodeData]="currentNode" key="kmer_depth"></app-node-bar-chart>
  </div>
</div>
